@model KABE_Food_Ordering_System.Models.Order

@{
    ViewBag.Title = "Pay for Food";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (ViewBag.Message != null)
{
    if (ViewBag.Message.ToString() == "Success")
    {
        <div class="alert alert-success">
            <p>@ViewBag.Message <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> </p>

        </div>

    }
}
<br />
@*@{
    if (TempData["message"].ToString() == "" || TempData["message"] == null )
    {
        <div class="alert alert-error">
            <strong>Payment was  not successful&nbsp;</strong>
        </div>
    }
    else
    {
        @TempData["message"]
    }
}*@

<div id="payEdit" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;  </button>
                <h4 class="modal-title" id="myModalLabel">Order Payment</h4>
            </div>
            <div class="modal-body">
                @Html.ValidationSummary()
                <span id="error"></span>
                <div class="row">
                    <div id="mesg">


                    </div>

                    @using (Html.BeginForm("Payment", "Order", FormMethod.Post))
                    {
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="amount">Amount: @ViewBag.Amount</label>
                            @Html.HiddenFor(model => model.Amount)
                        </div>
                        <div class="form-group">
                            <label for="cardNumber">Card Number</label>
                            <input type="text" id="cardNumber" class="form-control" name="cardNumber" required="required" pattern="^[0-9]+$" placeholder="Enter Card Number" @*step="any"*@ minlength="19" maxlength="19" />
                        </div>
                        <div class="form-group">
                            <label for="pin">Pin</label>
                            <input type="text" id="pin" class="form-control" name="pin" required="required" pattern="^[0-9]+$" placeholder="Enter Pin" @*step="any" min="4000000000000000000" max="5999999999999999999"*@ minlength="4" maxlength="4" />
                        </div>
                        <div class="form-group">
                            <label for="expiryDate">Expiry Date</label>
                            <select id="expiryDateMonth" name="expiryDateMonth" required>
                                <option value="January">January</option>
                                <option value="Febuary">Febuary</option>
                                <option value="March">March</option>
                                <option value="April">April</option>
                                <option value="May">May</option>
                                <option value="June">June</option>
                                <option value="July">July</option>
                                <option value="August">August</option>
                                <option value="September">September</option>
                                <option value="October">October</option>
                                <option value="November">November</option>
                                <option value="December">December</option>
                            </select>
                            <select id="expiryDateYear" size="4" name="expiryDateYear" required>
                                @*<option value="2019">2019</option>*@
                                @{
                                    var datenow = @DateTime.Now.Year;
                                    var datetwo = @DateTime.Now.AddYears(1);
                                    var datethree = @DateTime.Now.AddYears(2);
                                }
                                <option value=@datenow>@datenow</option>
                                <option value=@datetwo>@datetwo.Year</option>
                                <option value=@datethree>@datethree.Year</option>
                            </select>
                        </div>
                        @*<div class="form-group">
            <label for="cvv">CVV2</label>
            <div class="help-tip">
                <p>What is CVV2</p>
                <hr />
                <p>CVV2 is the 3 digit number (XXX) at the back of your Debit Card.</p>
            </div>
            <input type="number" id="cvv" class="form-control" name="cvv" required="required" pattern="^{4,5}[0-9]+$" placeholder="Enter CVV2" minlength="19" maxlength="19" />
        </div>
        <div class="form-group">
            <label for="verificationCode">Verification Code</label>
            <div class="help-tip">
                <p>Check your mail for the Verification Code for this transaction.</p>
            </div>
            <input type="number" id="verificationCode" class="form-control" name="verificationCode" required="required" placeholder="Enter Verification Code"  minlength="6" maxlength="6" />
        </div>*@
                        @*<div class="form-group">
                            <span class="tooltiptext">What is CVV2?. CVV2 is the 3 digit number (XXX) at the back of your Debit Card.</span>
                            <label for="cvv">CVV2</label>
                        </div>
                        <div class="tooltip">
                            <input type="number" id="cvv" class="form-control" name="cvv" required="required" pattern="[0-9]+$" placeholder="Enter CVV2"*@ @*step="any"*@ @*minlength="3" maxlength="3" />

                        </div>
                        <div class="form-group">
                            <span class="tooltiptext">Check your mail for the Verification Code for this transaction.</span>
                            <label for="verificationCode">Verification Code</label>
                        </div>*@
                        @*<div class="tooltip">
                            Hover over me
                            <span class="tooltiptext">Tooltip text</span>
                        </div>
                        <div class="tooltip">
                            <label>CVV2</label>
                            <span class="tooltiptext">What is CVV2?. CVV2 is the 3 digit number (XXX) at the back of your Debit Card.</span>
                        </div>*@
                        <div class="form-group">
                            <label for="cvv">CVV2</label>
                            <input type="text" id="cvv" class="form-control" name="cvv" required="required" pattern="[0-9]+$" placeholder="Enter CVV2" @*step="any"*@ minlength="3" maxlength="3" />
                        </div>
                        @*<div class="tooltip"><span class="tooltiptext">Check your mail for the Verification Code for this transaction.</span></div>*@
                        <div class="form-group">
                            <label for="verificationCode">Verification Code</label>
                            <input type="text" id="verificationCode" class="form-control" name="verificationCode" required="required" placeholder="Enter Verification Code" pattern="[0-9]+$" @*step="any"*@ minlength="6" maxlength="6" />
                        </div>


                    </div>
                        <center><button type="submit" class="btn-default" id="paynow" style="background-color:#333; color:white">PAY NOW</button></center>

                        @Html.AntiForgeryToken()
                    }
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>



@section ViewSpecificJavascript
    {
    <script>

        //$("#orderpost").dataTable();
        //$("#sub").click(function (e) {
        //    $("#payEdit").modal('show');

        //});
       

        $(document).ready(function () {
            $("#payEdit").modal('show');
            setTimeout(function () {
                $(".alert").fadeOut(100, null);
            },
                3000);
        });
        $('#verificationCode').keyup(function () {
            var vefCode = $(this).val();
            var actualvefCode = @ViewBag.VefriCode;
            if (vefCode != actualvefCode) {
                e.preventDefault();
                $('#error').html("Incorrect Details");
            }
        })
        $('#paynow').click(function () {
            var vefCode = $('#verificationCode').val();
            var actualvefCode = @ViewBag.VefriCode;
            if (vefCode != actualvefCode) {
                e.preventDefault();
                $('#error').html("Incorrect Details");
            }
        })

    </script>

}

