@using System.Web.Optimization
@model KABE_Food_Ordering_System.Models.User
@{
    ViewBag.Title = "Change Users Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
<div class="col-md-6">
    @if (ViewBag.Message != null)
    {
        if (ViewBag.Message == "Success")
        {
            <div class="alert alert-success">
                <p>@ViewBag.Message <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> </p>

            </div>

        }
        else if (ViewBag.Message == "Exist")
        {
            <div class="alert alert-error">
                <p>User already Exist <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> </p>

            </div>

        }
        else if (ViewBag.Message == "Multiple")
        {
            <div class="alert alert-error">
                <p>Multiple User with the same details<span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> </p>

            </div>

        }
        else if (ViewBag.Message == "Dont Exist")
        {
            <div class="alert alert-error">
                <p>User don't Exist <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> </p>

            </div>

        }
        else if (ViewBag.Message == "Error")
        {
            <div class="alert alert-error">
                <p>@ViewBag.Message <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> </p>

            </div>

        }
    }
    <div class="form-group ">
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control", maxlength = 255, pattern = "^[A-Z\\sa-z]+$", minlength = 5, required = "required" })
        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Email)
        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @type = "email", required = "required", minlength = 9, maxlength = 255 } })
        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
    </div>
    @*<div class="form-group">
            @Html.LabelFor(model => model.RoleId)
            @Html.DropDownListFor(model => model.RoleId, new SelectList(Model.Roles, "Id", "Name"), "Choose an Option", new { @class = "form-control", required = "required", @data_live_search = "true" })
            @Html.ValidationMessageFor(model => model.RoleId, "", new { @class = "text-danger" })
        </div>*@
</div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="SEND" class="btn btn-default" />
        </div>
    </div>


}



@section ViewSpecificJavascript
    {
    <script>
        $(document).ready(function () {
            setTimeout(function () {
                $(".alert").fadeOut(100, null);
            },
                3000);
        });
    </script>
}