@model KABE_Food_Ordering_System.ViewModels.ChangeUserPasswordViewModels

@{
    ViewBag.Title = "Change Your Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    if (ViewBag.Message != null)
    {
        if (ViewBag.Message == "Success")
        {
            <div class="alert alert-danger">
                <p>@ViewBag.Message <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> </p>
            </div>
        }
       else
        {
            <div class="alert alert-danger">
                <p>@ViewBag.Message <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> </p>
            </div>
        }
    }


    <div class="form-horizontal col-md-6">
        <span id="error" class="text-red"></span>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @*<div class="form-group">
                @Html.LabelFor(model => model.username)
                @Html.EditorFor(model => model.username, new { htmlAttributes = new { @class = "form-control", required = "required", type = "email" } })
                @Html.ValidationMessageFor(model => model.username, "", new { @class = "text-danger" })
                <span id="usernameerror" class="text-red"></span>
            </div>*@

        <div class="form-group">
            @Html.LabelFor(model => model.CurrentPassword)
            @Html.PasswordFor(model => model.CurrentPassword, new { @class = "form-control", required = "required", minlength = "8", maxlength = "11" })
            @Html.ValidationMessageFor(model => model.CurrentPassword, "", new { @class = "text-danger" })
            <span id="CurrentPassworderror" class="text-red"></span>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NewPassword)
            @Html.PasswordFor(model => model.NewPassword, new { @class = "form-control", required = "required", minlength = "8", maxlength = "11" })
            @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
            <span id="NewPassworderror" class="text-red"></span>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ConfirmPassword)
            @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control", required = "required", minlength = "8", maxlength = "11" })
            @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
            <span id="confirm_passworderror" class="text-red"></span>
        </div>

    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="SUBMIT" class="btn btn-default" />
        </div>
    </div>
}
@section ViewSpecificJavascript
    {
    <script>
        $(document).ready(function () {
            setTimeout(function () {
                $(".alert").fadeOut(100, null);
            },
                3000);
            //$("input[type = 'submit']").attr("disabled", true);
            //$('#CurrentPassword').keyup(function () {
            //    value = $(this).val();
            //    if (value.length < 8 || value.length > 11) {
            //        $("#current_passworderror").html("Current Password can only be between 8 or 11 characters");
            //    } else {
            //        $("#current_passworderror").html("");

            //    }
            //})
            $('#NewPassword').keyup(function () {
                value = $(this).val();
                if (value.length < 8 || value.length > 11) {
                    $("#NewPassworderror").html("New password can only be between 8 or 11 characters");
                } else {
                    $("#NewPassworderror").html("");

                }
            })


            $("form").submit(function (e) {

                var current_password = $('#CurrentPassword').val();
                var new_password = $('#NewPassword').val();
                var confirm_password = $('#ConfirmPassword').val();
                var username = $('#username').val();

                if (current_password == "" || new_password == "" || confirm_password == "" || username == "") {
                    e.preventDefault();
                    $("#error").html("Kindly fill all the fields below");
                }
                else {
                    if (new_password == confirm_password) {
                        $("#error").html("");
                    }
                    else {
                        e.preventDefault();
                        $("#error").html("Re-enter your Confirm Password");
                    }


                }


            })
        })
    </script>
}
